$color-l: #b9bbc3; //light
$color-m: #a5acc4; //medium
$color-b: #6e7691; //bold
$color-w: #c4cbe8; //white

$bg-l: #edeef5; //light
$bg-d: #444961; //dark
$bg-btn: #f8f8fa; //btn

$mark-w: #edbd77; //warm
$mark-c: #5fcbc6; //cold

$border-l: #d9dbe1; //light
$border-d: #58abaa; //dark
$border-ch: #76a8e2; //check
